.gallery__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);
  place-items: center;
}
.gallery__img-wrapper {
    border:  1rem solid transparent;
    transition: var(--transition);
    
}
.gallery__img-wrapper:hover  {
 border-color: var(--gray-color-500);
}
.gallery__img {
   max-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
